.signup-page{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .input-field{
        margin: 30px;
        width: 450px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
        box-sizing: border-box;
        background-color: rgba(245, 245, 245, 0.308);
        .forms{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 30px;
            input{
                border: none;
                width: 300px;
                height: 40px;
                margin: 10px auto;
                font-size: 1.3rem;
                padding: 10px;
                border-radius: 7px;
                font-family: "Roboto", sans-serif;
                transition: 0.2s;
                &:hover{
                    animation: rotate 0.2s ease-out;
                }
        }
            button{
                width: 300px;
                border: none;
                margin: 10px auto;
                padding: 10px;
                font-size: 1.3rem;
                border-radius: 7px;
                &:hover{
                    transition: 0.5s ease-out;
                }
            }
        }
    } 
}


